@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800');

#booking {
    height: 155vh;
    margin-top: -10rem;
    background-color: #fff; 
}


.booking_stj {
    background-image: url('../../assets/plane.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 3.45%;
    float: unset;
}


.booking_stj > h3 {
    text-align: center;
    font-family:var(--font-family);
    font-size: 50px;
    padding-top: 5rem;
    color: #0a8789;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    margin-bottom: 35px;
    position: relative;
}

.palm_img {
   width: 100px;
   padding: 0;
   margin: 0; 
}
.booking_card {
    margin: 10px;
    border: none !important;
    border-radius: 0.5rem !important;
    box-shadow: 1px 2px 3px #000;
    transform: scale(0.95);
    transition: transform 0.5s;
}

.booking_card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}


/*---Ribbon Styles---*/

.booking_card::before{
    position: absolute;
    content: '';
    background: #283593;
    height: 29px;
    width: 41px;
    top:2rem;
    right:-0.5rem;
    transform : rotate(45deg);
}

.booking_card::after{
    position: absolute;
    content: 'Limited Deal';
    top: 11px;
    right: -14px;
    padding: 0.5rem;
    width: 10rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-variant: tilting-caps;
    border-radius: 2px 2px 3px 2px;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

/*---End of Ribbon---*/

.booking_title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800;
    margin-top: -10px !important;
}

.circle {
    font-size: 4px;
    vertical-align: middle;
    padding: 0 5px;

}

.booking_card img {
    border-radius: .25em .25em 0 0 !important;
    position: relative;
    overflow: hidden;
 
}

h6 {
    font-family: 'Open Sans', sans-serif !important;
}

.rating {
    color: goldenrod;
    padding: 0;
}

.booking_footer {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
}

.booking_card button {
    background-color:#3949ab !important;
    font-family: 'Open Sans', sans-serif;
    border: none !important;
    box-shadow: 1px 2px 3px #000;
}

.booking_card button:hover {
    background-color:#11163f !important;
}

.card_text {
    font-family: 'Open Sans', sans-serif !important;
    color:#3949ab;
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    #booking {
        margin-bottom: 130px;
    }
        
    }

@media screen and (max-width: 991px) {
    #booking {
        height: 255vh;
   }
}

@media only screen and (device-width: 767px) {
    #booking {
        height: 265vh;
    }

    .booking_stj {
        background-position-y: 1.5%;
    }

}

@media screen and (max-width: 575px){
    #booking {
        height: 570vh;
    }

    .booking_stj {
        background-position-y: 1.333%;
    }

}

@media screen and (max-width: 415px) {
    #booking {
        height: 485vh;
    }

    .booking_stj {
        background-position-y: 2.45%;
    }
}


@media only screen and (max-device-width: 375px) {
    #booking {
        height: 500vh;
    }

}
