#contact {
    background-color:#fff;
    background-image: linear-gradient(rgba(208, 201, 201, 0.5), rgba(59, 59, 57, 0.5)),url('../../assets/stfrancis.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: -10rem;
}

.contact_us > p {
    text-align: center;
    font-size: 50px;
    padding-top: 4rem;
    color: #fff;
    font-weight: 700;
}

.register_form {
	max-width: 700px;
	margin: 55px auto;
}

.image {
	float:left;
	background-image: url("../../assets/stfrancis.jpeg");
	height: 500px;
	width: 50%;
	background-size: cover;
	background-position: 25%;
    border: transparent;
    border-radius: 7px 0px 0px 7px;
    box-shadow: #858585 1px 2px 8px;
}

.form {
    float:right;
    text-align: center;
    height: 500px;
    width: 50%;
    min-width: 250px;
    padding: auto;
    background-size: 100% 100%;
    background-color: #fff;
    border: transparent;
    border-radius: 0px 7px 7px 0px;
    box-shadow: #858585 2px 2px 7px;
}

 h1 {
    color: #0a8789;
    font-weight: 700 !important;
    font-size: 50px !important;
    padding-top: 60px;
	padding-bottom: 15px;  
}

.form > p {
    color: #858585;
    font-size: 20px;

}

.form_button {
    background-color:#0a8789 !important;
    margin-right: 5px;
    border: 1px 1px 1px solid;
    box-shadow: 1px 1px 2px #000;
  }

.form_button:hover {
    background-color: #fff !important;
    color: #0a8789 !important;
}


@media screen and (max-width: 767px){
	.image {
		width: 40%;
	    background-position: center;
	}

    .form {
        width: 60%;
    }

    .form-control {
        margin-left: 15px;
    }

}

@media screen and (max-width: 505px){
    #contact {
        margin-bottom: -10px
    }
	.image {
		display: none;
	}

    .form {
        width: 100%;
        border: transparent;
        border-radius: 7px 7px 7px 7px;
        margin-top: -40px;
       
    }

    h1 {
		text-align: center;
        padding-top: 45px;
	}
    
    .form-control {
        margin-left: 20px;
    }

    .contact_us > p {
        font-size: 35px;
    }

	form_button {
		width: 100%;
		margin-top: 20px;
	}

}


  
