#explore {
    background-color: #fff;
}

.card {
    box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.25), -3px -3px 20px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;

}

.card:hover {
 transform: scale(0.9, 0.9);
  box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card_title {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 25px;
}

.card_button { 
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  color: #0a8789 !important;
  transform: translate(-50%, -50%);
  background-color: #fff !important;
  border: 1px 1px 1px solid;
  box-shadow: 1px 1px 2px #000;
}

.card_button:hover {
    background-color: #0a8789 !important;
    color:#fff !important;

}
.explore_stj > p {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    color: #0a8789;
    text-shadow: none;
    font-weight: 700;
}

.explore_stj> h5 {
    text-align: center;
    padding-bottom: 25px;
    color: #858585;
}
