
.footer_stj #footer_links {
   height: 40vh;
   margin: 0;
   background: #fff;
   background-position: cover;
   padding-top: 50px;
   /*margin-bottom: -60px;*/
   flex-direction: column;
   justify-content: space-evenly;
}

.footer_stj {
    background-color: #fff;
    font-size: 15px;
}

.google_map {
    max-width: 100%;
    max-height: 75%;
}

.links_list {
    margin-left: 2%;

}
#footer_links h6 {
    font-size: 20px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing: 1px;
    color: #0a8789;
    font-weight: 700;
}

.footer_link, .footer_link2 {
    list-style: none;
    padding: 0;
 
}


#footer_links a {
    color:#0a8789;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

#footer_links a:hover {
    color:#1d223e;
}

.page_break {
    margin-top: 65px;
    border-top: 5px solid #1d223e;
}

.copyright_text {
    font-size: 13px;
    margin: 0;
    text-align: center;
    color: #1d223e;
    font-weight: 500;
}

.social_icons {
    font-size:25px;
    margin: auto;
    padding: 5px;
    padding-bottom: 10px;
    color:#1d223e;
}

.social_icons:hover {
    color:#0a8789;
}

@media screen and (max-width: 900px ) {
    .links_list {
        margin-left: 1%;
        margin-right: -8px;
    }
    .links_list2 {
        margin-left: 1%;
    }
}

@media screen and (max-width: 767px) {
    .google_map {
        max-height: 60%;
    }

    .page_break {
        margin-top: 45px;
    }

    .links_list {
        margin-left: 45px;
    }
}

@media screen and (max-width: 490px) {
    .links_list {
        margin-left: 0;
    }
}