
.footer_stj #footer_links {
   height: 40vh;
   margin: auto;
   background: #fff;
   background-position: cover;
   padding-top: 50px;
   margin-bottom: -60px;
   flex-direction: column;
   justify-content: space-evenly;
}

.footer_stj {
    background-color: #fff;
    font-size: 15px;
   
}
.google_map {
    max-width: 100%;
    height: auto;
}

.links_list {
    margin-left: 10%;

}
#footer_links h6 {
    font-size: 16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing: 1px;
    color: #0a8789;
    font-weight: 700;
}

.footer_link, .footer_link2 {
    list-style: none;
    padding: 0;
 
}


#footer_links a {
    color:#0a8789;
    text-decoration: none;
    font-weight: 400;
}

#footer_links a:hover {
    color:#858585;
}

.page_break {
    margin-top: 45px;
    border-top: 5px solid #1d223e;
}

.copyright_text {
    font-size: 10px;
    margin: 0;
    text-align: center;
    color: #1d223e;
    font-weight: 500;
}

.social_icons {
    font-size:25px;
    margin: auto;
    padding: 5px;
    padding-bottom: 10px;
    color:#1d223e;
}

