.footer_stj #footer_links {
   height: 40vh;
   margin: 0;
   background: #fff;
   background-position: cover;
   padding-top: 3.125rem;
   flex-direction: column;
   justify-content: space-evenly;
}

.footer_stj {
    background-color: #fff;
    font-size: .938rem;
    background-image: url('../../assets/trees.png');
    background-size: 6.25rem;
    background-repeat: no-repeat;
    background-position: bottom right; 
}

.google_map {
    max-width: 100%;
    max-height: 75%;
}

.links_list {
    margin-left: 2%;
}

#footer_links h6 {
    font-size: 1.25rem;
    text-transform:uppercase;
    margin-top:.313rem;
    letter-spacing: .063rem;
    color: #0a8789;
    font-weight: 700;
}

.footer_link, .footer_link2 {
    list-style: none;
    padding: 0;
}

#footer_links a {
    color:#0a8789;
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 500;
    transition: .4s ease-in-out;
    display: inline-block;
}

#footer_links a:hover {
    color:#1d223e;
    transform: scale(1.3);
}

.page_break {
    margin-top: 4.063rem;
    border-top: .313rem solid #1d223e;
}

.copyright_text {
    font-size: .813rem;
    margin: 0;
    text-align: center;
    color: #1d223e;
    font-weight: 500;
}

.social_icons {
    font-size:1.563rem;
    margin: auto;
    padding: .313rem;
    padding-bottom: .625rem;
    color:#1d223e;
}

.social_icons:hover {
    color:#0a8789;
}

/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 900px ) {
    .links_list {
        margin-left: 1%;
        margin-right: -0.5rem;
    }

    .links_list2 {
        margin-left: 1%;
    }
}

@media screen and (max-width: 767px) {
    .google_map {
        max-height: 60%;
    }

    .page_break {
        margin-top: 2.813rem;
    }

    .links_list {
        margin-left: 2.813rem;
    }
}

@media screen and (max-width: 490px) {
    .links_list {
        margin-left: 0;
    }

    .google_map {
        height: auto;
    }
}
