#visit {
    background-color: #1d223e;
    margin-top: -10rem;
    margin-bottom: -50px;

}

.visit_stj > p {
    text-align: center;
    font-size: 50px;
    padding-top: 5rem;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
}

.gallery{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.slide_1{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    min-width: 90px;
    height: 355px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
}
.slide_1:hover{
    min-width: 350px;
}
.slide_1:hover .slide-info{
    transform: rotate(0deg);
    font-size: 22px;
    left: 20px;
    bottom: 20px;
}
.slide-info{
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 13px;
    font-weight: 700;
    transition: all 0.5s ease;
}

@media screen and (max-width: 770px) {
    #visit {
        margin-top: 22rem;
        padding-bottom: 140rem;
    }

    .gallery {
        flex-direction: column;
    }
    .slide_1 {
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }
  }

  @media screen and (max-width: 550px) {
    #visit {
        margin-top: 30rem;
    }
  }