#visit {
    background-color: #1d223e;
    margin-top: -10rem;
    margin-bottom: 160px;
}

.visit_stj > p {
    text-align: center;
    font-family:var(--font-family);
    font-size: 50px;
    padding-top: 5rem;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    margin-bottom: 35px;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.slide_1 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    min-width: 90px;
    height: 355px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
}
.slide_1:hover {
    min-width: 350px;
}
.slide_1:hover .slide-info {
    transform: rotate(0deg);
    font-size: 22px;
    left: 20px;
    bottom: 20px;
}
.slide-info{
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    transform: rotate(-90deg);
    font-size: 17px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.learn_more {
    position: relative;
    z-index: 2;
    background-color: #1d223e !important;
    display: none !important;
}

.slide_1:hover .learn_more {
    display: block !important;
}

.learn_more:hover {
    background-color: #374d60 !important;
}

@media screen and (max-width: 1062px) {
    .slide_1:hover {
       min-width:200px;
    }
}

@media screen and (max-width: 935px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;   
    }
    .gallery>* {
        flex:1 1 1 130px;
        margin: 25px;
    }

    .slide_1:hover {
        min-width: 220px;
    }
    #visit {
        padding-bottom: 65rem;
    }
}

@media screen and (max-width: 770px) {
    #visit {
        margin-top: 22rem;
        padding-bottom: 140rem;
    }

    .gallery>* {
        flex-direction: column;
    }
    .slide_1 {
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }
  }

  @media screen and (max-width: 519px) {
    #visit {
        margin-top: 30rem;
        margin-bottom: 130px;
        
    }

    .visit_stj > p {
        font-size: 35px;
    }
  }