@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    font-family:'Caveat', cursive;
} 

/**{
   outline: solid #f00 1px !important;
} 
*/
html, body {
    margin: 0;
    overflow-x: hidden;
    background-color: #fff; 
}


h2 {
    color: #fff;
    text-shadow: #35393C .063rem .063rem .063rem;
    font-size: 3.125rem !important;
    letter-spacing: .125rem;
    display: inline-block;
    width: auto;
    overflow: hidden;
    border-right: .05em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 8s steps(100, end),
    blink-caret .75s step-end infinite; 
}

@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

nav .nav-link {
    color: #1d223e;
    text-shadow: .063rem .063rem .063rem #fff;
    font-weight: 900 !important;
    font-size: 1.375rem;  
}

nav .nav-link:hover {
    color: #0a8789;
    text-shadow:.063rem .063rem .063rem #fff;
}

.welcome-container {
    overflow:hidden;
}

/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 500px) {
    h2 {
        font-size: 2.5rem !important;
    }
}
