
section {
    height: 100vh;
    margin-top: 2rem;
  }

h2 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-shadow: #35393C 1px 1px 1px;
    font-size: 38px !important;
    letter-spacing: 2px;
    display: inline-block;
    width: auto;
    overflow: hidden;
    border-right: .05em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 8s steps(100, end),
    blink-caret .75s step-end infinite; 
}

@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}


nav .nav-link {
    color: #1d223e;
    font-weight: 700;
    font-size: 20px;
    
}

nav .nav-link:hover {
    color: #374d60;
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 30px !important;
    }
}